import * as schema from "protobuf-websocket-api/project/schema";
import { callApi } from "protobuf-websocket-api-client";

{{#endpoints}}
export async function {{ functionName }}(requestData: schema.{{ requestTypeInterface }}): Promise<schema.{{ responseTypeInterface }}> {
    const requestPayloadObject = schema.{{ requestType }}.create(requestData);
    const requestPayloadBytes = schema.{{ requestType }}.encode(requestPayloadObject).finish();
    const payload = await callApi("{{ methodName }}", requestPayloadBytes);
    return schema.{{ responseType }}.decode(payload);
}
{{/endpoints}}
