/* eslint-disable */
/* tslint:disable */

import * as schema from "../schema";

export const handlers = {
{{#handlerList}}
    "{{ moduleName }}": require("./api/{{ moduleName }}"),
{{/handlerList}}
};

export const endpoints = [
{{#apiList}}
    {
        moduleName: "{{ moduleName }}",
        apiName: "{{ apiName }}",
        requestSchema: schema.{{ requestType }},
        responseSchema: schema.{{ responseType }},
    },
{{/apiList}}
];
